@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header {
    height: 3.5rem;
    display: flex;
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    box-shadow: 1px 1px 5px black;
}


/*Titulo*/

.titulo h1{ 
    margin-top: -0.3rem;  
    margin-left: 1.2rem;
    font-size: 40px;
    font-weight:bold;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

/*Sobre e contato*/ 

.sobre-contato {
    margin-left: 50rem;
}

.sobre-contato ul {
    display: flex;
}

.sobre-contato ul li {
    list-style: none;
    display: flex;
    justify-content:right;
    padding: 0.4rem;
}

.sobre-contato a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 470px;
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 18rem;
    box-shadow: 1px 1px 5px black;
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    box-shadow: 1px 1px 5px black;
}

.conteiner {
    color: white;
    margin-top: 1.5rem;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"], input[type="email"], input[type="tel"] {
    width: 350px; 
    height: 25px;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3); 
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
    outline: none;
    border-radius: 10px;
    padding-left: 0.7rem;
    border: 1px double black;
}
input[type="textarea"] {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3); 
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
    width: 350px; 
    height: 50px;
    outline: none;
    border-radius: 10px;
    padding-left: 0.7rem;
    border: 1px double black;
}
input[type="submit"] {
    margin-top: 1rem;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: #AAFFA9;  
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9); 
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
    font-size: 20px; 
    font-weight: bold;     
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
input[type="submit"]:hover {
    background: #235222;  
    background: -webkit-linear-gradient(to right, #1c5041, #AAFFA9); 
    background: linear-gradient(to right, #11FFBD, #AAFFA9);

}
.voltar {
    text-align: center;
}
.voltar a {
    font-size: 15px;
    color: white;
}